language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
install:
  - "sudo apt-get install pylint"
  - "pip install hacking"
script:
  - python -m compileall Samples/Python
#  - flake8 Samples/Python
#  - pylint Samples/Python/*.py
